import os
import tempfile
import whisper
import re
import requests
from fastapi import Request, Form, UploadFile, File
from fastapi.responses import FileResponse, JSONResponse
from extensions.openai.completions import CompletionRequest
from extensions.openai.completions import completions as OAIcompletions
from .typing import to_dict